.article{
    max-width: 720px;
    margin: 0 auto;

}

.article-image{
    text-align: center;

}

.title{
    font-size: 50px;
}

p{
    line-height: 1.5em;
    font-size: 20px;
    justify-content: center;
}